* {
    font-family: 'Work Sans';
    font-style: normal;
}

/* navbar */
.logo {
    font-family: 'Work Sans';
    font-style: normal;
    color: #131313;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
    margin-left: 80px;
    width: 100%;
}

.navdiv {
    display: flex;
    justify-content:space-between;
}

.navdiv2 {
    display: flex;
    margin-right: 80px;


}

.navopt {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #424242;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    margin-top: 45px;
}

.navcontainer {
    background: rgba(255, 144, 14, 0.1);
    position: relative;
    left: 0px;
    top: 0px;
    padding: 20px;
}

/* Banner */
.bannertitle1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;

}

.bannertitle2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.bannerdes {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;

}

.button {
    text-align: center;
    height: 40px;
    width: 140px;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    text-align: center;
    color: white;

}

.buttondiv {
    margin-left: 580px;
    margin-right: 580px;
}

.bannerimg {
    width: 100%;
    height: 100%;

}

.bannerimgdiv {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Feature div */

.featurediv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 50px;
    padding: 100px;

}

.featureimg {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;


}

.fimg {
    border-radius: 15px;
}

.featureinfo {
    margin-top: 200px;
}

.featuretitle {
    font-weight: 500;
    font-size: 40px;
    color: #727272;
    margin-bottom: 0;
}

.span {
    font-weight: bold;
    color: black;
}

.featuretitle2 {
    font-weight: 500;
    font-size: 40px;
    color: #FF900E;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

}

.featuredes {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.button2 {
    text-align: center;
    height: 40px;
    width: 140px;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;

    color: white;